/* Header */
.bg-nav {
  background: linear-gradient(60deg, #12c2e9, #c471ed 50%, #f64f59 100%);
}
/* END Header*/

/* Navbar Menu Toggle */
input#nav-toggle:checked~label#show-button {
  @apply hidden;
}

input#nav-toggle:checked~label#hide-button {
  @apply flex;
}

input#nav-toggle:checked~#nav-menu {
  @apply block;
}
/* END Navbar Menu Toggle */

/* Footer */
.bg-ftr {
  background: linear-gradient(60deg, #f64f59, #c471ed 50%, #12c2e9 100%);
}
/* END Footer */

/* Search Suggestions */
.suggestions {
  @apply absolute;
  top: 100%;
  @apply left-0;
  @apply right-0;
  @apply z-10;
  @apply overflow-hidden;
  @apply mt-3;
  @apply shadow-lg;
  @apply rounded-lg;
  @apply bg-white;
  @apply text-sm;
  @apply text-gray-dark;
  @apply tracking-wider;
}

.suggestions div {
  @apply px-4;
  @apply py-2;
  @apply cursor-pointer;
}

.suggestions div:hover {
  background: #edf2f7;
}

.suggestion-active {
  background: #4f575f !important;
  color: #fff;
}
/* END Search Suggestions */