<div class="flex flex-col rounded-md shadow bg-white">
  <div class="h-32 bg-blue rounded-t-md overflow-hidden">
    <img />
  </div>
  <div class="mt-2 p-3">
    <div class="mb-2 flex space-x-8 text-xs">
      <h3 class="text-gray font-bold">May 5 - May 7</h2>
      <h3 class="text-orange">~ streaming today ~</h2>
    </div>
    <h2 class="mb-5 text-gray-dark font-bold truncate">super cool festival event</h2>
    <div class="hidden mb-5 flex flex-wrap justify-center content-start space-x-2 h-16 bg-gray-light text-xs text-gray tracking-wide leading-relaxed overflow-y-scroll">
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
    </div>
    <div class="flex flex-wrap space-x-2 text-xs text-white text-center tracking-wide leading-relaxed">
      <a class="w-32 py-1 rounded-md bg-purple shadow hover:shadow-md transition-shadow duration-200 ease-in-out"
        href="/">
        view schedule
      </a>
      {{ partial "dropdown-button.html" (dict "id" "1" ) }}  
    </div>
  </div>
</div>