<div class="flex flex-col rounded-md shadow bg-white overflow-hidden">
  <div class="h-32 bg-blue">
    <img />
  </div>
  <div class="mt-2 p-3">
    <div class="mb-2 flex space-x-8 text-xs">
      <h3 class="text-gray font-bold">May 15 - May 17</h2>
      <h3 class="text-orange">~ streaming today ~</h2>
    </div>
    <h2 class="mb-5 text-gray-dark font-bold truncate">EDC Las Vegas: Virtual Rave-A-Thon</h2>
    <div class="hidden mb-5 flex flex-wrap justify-center content-start space-x-2 h-16 bg-gray-light text-xs text-gray tracking-wide leading-relaxed overflow-y-scroll">
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
      <span>ATLiens</span>
    </div>
    <div class="flex flex-wrap space-x-2 text-xs text-white text-center tracking-wide leading-relaxed">
      <!-- <a class="w-32 py-1 rounded-md bg-purple shadow hover:shadow-md transition-shadow duration-200 ease-in-out"
        href="/">
        view schedule
      </a> -->
      <a class="w-32 py-1 rounded-md bg-orange shadow hover:shadow-md transition-shadow duration-200 ease-in-out"
        href="/">
        <div class="flex justify-center space-x-2">
          <span>watch stream</span>
          <svg class="inline w-2 text-white fill-current" viewBox="0 0 292.362 292.362">
            <g>
              <path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424 C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428 s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"/>
            </g>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>