<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
{{- block "title" . -}}
  {{- if .IsHome -}}
    {{ .Title }}
  {{- else -}}
    {{ .Title }} · {{ .Site.Title }}
  {{- end -}}
{{- end -}}
</title>
{{ if .Description }}
<meta name="description" content="{{ .Description }}" />
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}
{{ if .Keywords }}
<meta name="keywords" content="{{ delimit .Keywords "," }}" />
{{ else }}
<meta name="keywords" content="festival,from,homemusic,stream,youtube,twitch,soundcloud" />
{{ end }}

{{ $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
  {{ $styles := $styles| minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ end }}
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />"